/** Table css: */
  .highlight{
    margin: 1em 0;
    min-width: 300px;
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
  }
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    padding: 1em !important; 
    }
    th, td:before {
      color: #dd5;
    }
    tr.hover-row:hover{
      background: cornflowerblue;
      cursor: pointer;
    }