<div>
    <h3>Movies taken out</h3>
    <table class="highlight">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    NAME
                </th>
                <th>
                    TYPE
                </th>
                <th>
                    PRICE
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let video of videos">
                <td>
                    {{video.id}}
                </td>
                <td>
                    {{video.name}}
                </td>
                <td>
                    {{video.type}}
                </td>
                <td>
                    {{video.price}}:-
                </td>
            </tr>
        </tbody>
    </table>
</div>